@{
    ViewBag.Title = "Login";
}

<div class="col-sm-12">
    <table class="table">
        <tr>
            <th>Patient</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Priority</th>
            <th>Reason for Admittance</th>
            <th>Transfer Status</th>
        </tr>

        <tr>
            <td>Connor Finholt</td>
            <td>09/19/1994</td>
            <td>100 Sesame St.</td>
            <td>Medium</td>
            <td>Depression</td>
            <td>Pending</td>
        </tr>

    </table>
</div>
