@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>Requesting Hospital</th>
                <th>Date of Birth</th>
                <th>Sex</th>
                <th>Medically Cleared?</th>
                <th>Violent?</th>
                <th>Time in Queue</th>
                <th>Urgency Level</th>
                <th>Accept Transfer?</th>
            </tr>

            <tr>
                <td>Mercy</td>
                <td>09/19/1994</td>
                <td>Male</td>
                <td>Yes</td>
                <td>No</td>
                <td>00:13</td>
                <td>Medium</td>
                <td>
                    <a href="@Url.Action("PatientProfile", "Home")"><i class="glyphicon glyphicon-ok text-success"></i></a>
                    <i class="glyphicon glyphicon-remove text-danger"></i>
                </td>
            </tr>
        </table>
    </div>
</div>
@section Scripts {
    @*Insert any script tags for this page here*@
}