@{
    ViewBag.Title = "Inpatient Main";
}

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <h2 class="col-sm-12">Patient Profile</h2>
    <div class="col-sm-6">
        <p style="font-weight: bold;">Name: </p>
        <p>Connor Finholt</p>
        <p style="font-weight: bold;">Sex: </p>
        <p>Male</p>
        <p style="font-weight: bold;">Reason for Admittance: </p>
        <p>Depression</p>
    </div>
    <div class="col-sm-6">
        <p style="font-weight: bold;">Date of Birth: </p>
        <p>09/19/1994</p>
        <p style="font-weight: bold;">Home Address: </p>
        <p>100 Sesame St. Des Moines, IA</p>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="col-sm-12">
        <h3 class="col-sm-6">Transferring From: </h3>
        <h3 class="col-sm-6">Mercy</h3>
    </div>
</div>
