@{
    ViewBag.Title = "Transfer Requests";
}

<div class="col-sm-12" style="padding-right: 0px;">
    <div class="col-sm-6 col-sm-offset-6" style="margin-bottom: 5px;">
        <div class="col-sm-6">
            <button class="btn btn-primary">New Patient/Transfer Request   <div class="glyphicon glyphicon-plus"></div></button>
        </div>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search" />
            <div class="input-group-btn">
                <button class="btn btn-primary"><div class="glyphicon glyphicon-search"></div></button>
            </div>
        </div>
    </div>
    
    <table class="table">
        <tr>
            <th>Patient</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Sex</th>
        </tr>

        <tr>
            <td>Connor Finholt</td>
            <td>100 Sesame St.</td>
            <td>09/19/1994</td>
            <td>Male</td>
        </tr>

    </table>
</div>
